
/* homePage.module.css */
/* main img */
.imgContainer {
  width: 100%;
  height: 1090px;
  background-image: url('/images/Home-main_banner(2000x1090_CFE2EB).jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
}
@media (min-width: 2000px) and (min-height: 1090px) {
  .imgContainer {
    background-position: top right;
  }
}
.mainTitle {
  font-size: 1.8em;
  font-weight: bold;
  position: absolute;
  top: 30%;
  left: 8rem;
}

/* printing & digital */
.mainContainer {
  padding: 8rem 8rem;
}
.service {
  display: flex;
  justify-content: space-between;
  position: relative;
  gap: 30px;
  margin-bottom: 200px;
  /* flex: 1; */
}
.card {
  display: flex;
  flex: 1;
  align-items: stretch;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 0;
  padding-top: 66.64%;
  border-bottom: 8px solid transparent;
}
.serviceContent { 
  padding: 40px 50px 40px 50px;
  background-color: #EFF2F9;
  opacity: 0.8;
  position: absolute;
  bottom: 0%;
  height: 210px;
}
.serviceTitle{
  font-family: "Noto Sans", sans-serif;
  color: #103558;
  font-size: 24px;
  margin-bottom: 20px;
}
.serviceDesc{
  font-family: "Noto Sans", sans-serif;
  color: #103558;
  font-size: 18px;
  /* position: absolute;
  bottom: 0;
  width: 100%;
  height: 20%; */
}
.card:hover {
  border-bottom-color: #C83832;
}
/* 
.card1:hover {
  background-image: url('/images/main-service-printing-click.jpg'); 
}

.card2:hover {
  background-image: url('/images/main-service-digital-click.jpg'); 
} */

/* brand value */
.section {
  margin: 0 0 120px 0;
  width: 100%;
  height: 70%;
}
.bvContainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.bvCard {
  padding: 0.5rem 0;
  text-align: center;
  display: grid;
  grid-auto-rows: minmax(100px, auto);

}
.bvContainerTitle {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 60px;
  font-family: "Noto Sans", sans-serif;
}
.bvTitle {
  display:flex;
  justify-content: center;
  align-items: center;
  font-family: "Noto Sans", sans-serif;
  font-size: 24px;
  margin-bottom: 28px;
}
.bvDesc {
  font-family: "Noto Sans", sans-serif;
  font-size: 18px;
}
.imgHover {
  display: none;
  opacity: 0;
  transition: opacity 10s ease;
}
.card:hover .imgHover {
  display: block;
  opacity: 1;
}
.card:hover .img {
  display: none;
  opacity: 0;
}
