.bgimg {
    width: 100%;
    height: 690px;
    background-image: url('/images/printing-bg.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: right;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.bgimgMobile {
    width: 100%;
    height: 690px;
    background-image: url('/images/printing-bg-reverse.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: right;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.bgTextBox{
    height: 100%;
    width: 1140px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 150px;

}

.mainHead {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 10px;
}

.mainText {
    width: 680px;
    font-size: 20px;
    font-weight: 500;
}

/* our service */

.serviceBg {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.serviceBgBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1140px;
    height: 1006px;
    margin-top: 200px;
}

.serviceHeadBox {
    height: 94px;
}

.serviceHead {
    font-size: 32px;
    font-weight: 600;
}


.serviceBox{
    width: 1140px;
    height: 742px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.serviceBoxMobile{
    width: 440px;
    height: 1592px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.serviceTitleBox {
    width: 1140px;
    height: 72px;
    display: flex;
    justify-content: space-between;

    border-bottom: 8px solid #C83832;
}

.serviceTitleBoxMobile {
    width: 440px;
    height: 60px;
    display: flex;
    justify-content: space-between;

    border-bottom: 8px solid #C83832;
}

.serviceComponentBox {
    width: 380px;
    height: 65px;
    background-color: #C83832;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 25px;
    font-weight: 400;
    transition: linear 0.25s;
}

.serviceComponentBox1 {
    width: 380px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}



.servicelistBoxContainer {
    width: 1140px;
    height: 800px;
    margin-top: 20px;
    /* 20px */
}


.servicelistBox {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.servicelistBoxMobile {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.disabled {
    pointer-events: none;  
}

.servicelistBox1 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.servicelist {
    position: relative;
    width: 360px;
    height: 650px;
    display: flex;
    background-size: cover;
    transition: 0.4s ease-out;
    background-position: center;
}
.servicelist1 {
    position: relative;
    width: 360px;
    height: 650px;
    display: flex;
    background-size: cover;
    transition: 0.4s ease-out;
    background-position: center;
}


.servicelist:hover {
    border-bottom: 8px solid #C83832;
}



.servicelistVisile{
    visibility: hidden;
    width: 0px !important;
}

.serviceArrow {
  width: 35px;
  height: 35px;
  margin-top: 10px;
  margin-right: 10px;
}

.serviceText {
    position: absolute;
    bottom: 0;
    width: 360px;
    height: 50px;
    background-color: #EFF2F9;
    opacity: 0.8;
    animation: fadeAnimation ease 1.4s;
    display: flex;
}

.serviceTextM {
    position: absolute;
    bottom: 0;
    width: 360px;
    height: 130px;
    background-color: #EFF2F9;
    opacity: 0.8;
    animation: fadeAnimation ease 1.4s;
    display: flex;
    flex-flow: column;
}

.serviceText2 {
    position: absolute;
    bottom: 0;
    width: 360px;
    height: 70px;
    background-color: #EFF2F9;
    opacity: 0.8;
    animation: fadeAnimation ease 1.4s;
    display: flex;
}

.serviceTextDesktop {
    position: absolute;
    bottom: 0;
    width: 360px;
    height:180px;
    background-color: #EFF2F9;
    display: flex;
    opacity: 0.8;
    animation: fadeAnimation ease 1.4s;
    flex-flow: column;
    padding-top: 50px;
}

.serviceText1 {
    position: absolute;
    bottom: 0;
    width: 750px;
    height: 250px;
    background-color: #EFF2F9;
    padding-left: 75px;
    padding-top: 60px;
    opacity: 0.8;
    animation: fadeInAnimation ease 2s;
}


@keyframes fadeAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.8;
     }
}

.serviceText1mobile {
    position: absolute;
    bottom: 0;
    width: 360px;
    height: 330px;
    background-color: #EFF2F9;
    padding-left: 75px;
    padding-top: 60px;
    opacity: 0.8;
    animation: fadeInAnimation ease 2s;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.8;
     }
}

.serviceTitle {
    color: black;
    font-size: 18px;
    font-weight: 600;
    padding-top: 10px;
    padding-left: 20px;
    width: 100%;
}

.serviceTitle2 {
    color: black;
    font-size: 18px;
    font-weight: 600;
    padding-left: 20px;
    width: 100%;
}

.serviceTitle1 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
}

.serviceDesc {
    display: none;
    visibility: hidden;
    opacity: 0;
}

.serviceDesc1 {
    visibility: visible;
    opacity: 1;
    font-size: 18px;
    font-weight: 500;
}

.serviceDescM {
    visibility: visible;
    opacity: 1;
    padding-left: 20px;
    padding-top: 10px;    
}

.modalExit {
    opacity: 0;
}

.modalExit1 {
    position: absolute;
    top: 40px;
    right: 60px;
    z-index: 10;
}

.serviceExitBtn {
    width: 35px;
    height: 35px;
    text-align: center;
    font-size: 22px;
    background-color: white;
    opacity: 0.8;
}

.serviceExitBtn:hover {
    opacity: 1;
}


.galleryBackground {
    width: 100%;
    height: 411px;
    background: #103558;
    display: flex;
    align-items: center;
    /* margin-top: 200px; */
    position: relative;
}

.slides {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #103558;
    font-size: 25px;
    font-weight: 600;
    width: 360px;
    height: 250px;
    color: white;
    margin-bottom: 40px;
}

.slide1 {
    
    width: 360px;
    height: 250px;
    background-image: url('/images/Offline_Gallery-1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 40px;
}

.slide2 {
    width: 360px;
    height: 250px;
    background-image: url('/images/Offline_Gallery-2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 40px;
}

.slide3 {
    width: 360px;
    height: 250px;
    background-image: url('/images/Offline_Gallery-3.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 40px;
}

.slide4 {
    width: 360px;
    height: 250px;
    background-image: url('/images/Offline_Gallery-4.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 40px;
}

.slide5 {
    width: 360px;
    height: 250px;
    background-image: url('/images/Offline_Gallery-5.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 40px;
}



.switch {
    position: absolute;
    height: 20px;
    left: 50%;
    bottom: 58px;
    display: flex;
    flex-direction: row-reverse;
}

.switch[data-on="true"] {
    flex-direction: row;
}

.switch1 {
    width: 40px;
    height: 17px;
    border-radius: 15%;
    background-color: #FFFFFF;
    margin-right: 15px;
}

.switch2 {
    width: 15px;
    height: 17px;
    background-color: #727272;
    border-radius: 30%;
    margin-right: 20px;
}

/* reference */
.referenceBg {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.referenceBgMobile {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.referenceBox {
    height: 600px;
    width: 1140px;
    margin-top: 200px;
    display: flex;


}
.referenceBox1 {
    height: 600px;
    width: 1140px;
    margin-top: 150px;
    display: flex;
    justify-content: space-between;

}

.referenceImgBox {
    width: 100%;
    height: 100%;
}

.referenceImgBox1 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
}

.referenceImg {
    width: 555px;
    height: 600px;
}

.referenceImg1 {
    width: 555px;
    height: 600px;
}

.referenceText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-left: 98px;
}

.referenceTextTitle {
    font-size: 32px;
    font-weight: 600;
    padding-bottom: 40px;
}

.referenceTextStyle {
    font-size: 20px;
    padding-bottom: 40px;
}

.referenceText1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.referenceText2 {
    
    width: 100%;
}







/* tablet */


@media (max-width: 1100px) {

    /* main background */
    .mainHead {
        font-size: 2.25rem;
        /* 36px */
        line-height: 2.5rem;
        /* 40px */
        font-weight: 600;
    }

    .mainText {
        font-size: 1rem;
        /* 18px */
        line-height: 1.75rem;
        /* 28px */
    }



}