.mainContainer {
  padding: 8rem 8rem;
}
.imgContainer Img {
  width: 100%;
  height: auto;
}
.imgContainer {
  position: relative;
}
.mainTitle {
  font-size: 1.8em;
  font-weight: bold;
  position: absolute;
  top: 30%;
  left: 8rem;
}
.divTitle {
  font-size: 1.1em;
  font-weight: bold;
}
.section {
  margin: 0 0 120px 0;
}
.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.containerTitle {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}
.card {
  flex: 1;
  position: relative;
}
.imgHover {
  display: none;
  opacity: 0;
  transition: opacity 10s ease;
}
.card:hover .imgHover {
  display: block;
  opacity: 1;
}
.card:hover .img {
  display: none;
  opacity: 0;
}
.textOverlay {
  padding: 2rem 2rem;
  color: #103558;
  background-color: rgba(239,242,239, 0.7);
  position: absolute;
  bottom: 0%;
}
.brandValueCard {
  padding: 0.5rem 0;
  text-align: center;
}